h3 {
    color:rgba(240, 233, 234, 0.911);
    padding: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

ul {
    width:100%;
    overflow: auto;
}

.container {
    display: block;
    /* background-color: rgba(240, 233, 234, 0.438); */
    width: 95%;
    height: auto;
}